<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <i class="fas fa-envelope"></i>
            Inbox(31)
          </h4>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td class="py-1">
                    <img src="/static/images/faces/face13.jpg" alt="profile" class="img-sm rounded-circle"/>
                  </td>
                  <td class="font-weight-bold">
                    Andrew Bowen
                  </td>
                  <td>
                    <label class="badge badge-light badge-pill">Development</label>
                  </td>
                  <td>
                    The required fields are added in the database
                  </td>
                  <td>
                    <i class="fas fa-ellipsis-v"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td class="py-1">
                    <img src="/static/images/faces/face2.jpg" alt="profile" class="img-sm rounded-circle"/>
                  </td>
                  <td class="font-weight-bold">
                    Mae Saunders
                  </td>
                  <td>
                    <label class="badge badge-light badge-pill">Development</label>
                  </td>
                  <td>
                    The application will be completed by tomorrow
                  </td>
                  <td>
                    <i class="fas fa-ellipsis-v"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td class="py-1">
                    <div class="img-sm rounded-circle bg-warning profile-image-text">M</div>
                  </td>
                  <td class="font-weight-bold">
                    Manuel Yates
                  </td>
                  <td>
                    <label class="badge badge-light badge-pill">Design</label>
                  </td>
                  <td>
                    The new design is uploaded in zeplin
                  </td>
                  <td>
                    <i class="fas fa-ellipsis-v"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td class="py-1">
                    <img src="/static/images/faces/face11.html" alt="profile" class="img-sm rounded-circle"/>
                  </td>
                  <td class="font-weight-bold">
                    Marguerite Phillips
                  </td>
                  <td>
                    <label class="badge badge-light badge-pill">Development</label>
                  </td>
                  <td>
                    Please send me the latest requirements
                  </td>
                  <td>
                    <i class="fas fa-ellipsis-v"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td class="py-1">
                    <div class="img-sm rounded-circle bg-info profile-image-text">C</div>
                  </td>
                  <td class="font-weight-bold">
                    Clifford Wilson
                  </td>
                  <td>
                    <label class="badge badge-light badge-pill">Testing</label>
                  </td>
                  <td>
                    The issues are documented in the shared sheet
                  </td>
                  <td>
                    <i class="fas fa-ellipsis-v"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>